@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$CONTAINER_WIDTH: 600px;
$BODY_PADDING: 20px;

* {
	box-sizing: border-box;
}

body, html {
	overflow-x: hidden;
}

body, button {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: $BODY_PADDING;

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		padding: 0;
	}
}

.container {
	width: $CONTAINER_WIDTH;
}

.responsive-container {
	max-width: 100%;
}

.maze-wrapper {
	&.training {
		position: relative;

		&::after {
			content: "Collecting training data...";
			position: absolute;
			top: 0;
			left: 0;
			padding: 15px;
			font-size: 20px;
			color: #f53434;
			animation: training 1.5s infinite;
		}

		.maze {
			opacity: 0.5;
		}
	}

	&.ready {
		.maze {
			position: relative;

			&::after {
				content: "Ready";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
				color: green;
				animation: ready 1.5s forwards;
			}
		}
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		position: relative;
		width: 100%;
		height: 175px;
		margin-top: 20px;
	}
}

.maze {
	border: 5px solid black;
	height: 350px;
	position: relative;
	transition: opacity 1s;

	.obstacle {
		position: absolute;
		width: 30px;
		height: 125px;
		background-color: #aaa;

		&.obstacle1 {
			top: 50px;
			left: 70px;
			height: 50px;
		}
		&.obstacle1a {
			top: 150px;
			left: 70px;
			height: 150px;
		}

		&.obstacle2 {
			top: 80px;
			left: 200px;
			height: 150px;
		}
		&.obstacle2a {
			top: 280px;
			left: 200px;
			height: 50px;
		}

		&.obstacle3 {
			top: 40px;
			left: 330px;
		}
		&.obstacle3a {
			top: 210px;
			left: 330px;
			height: 100px;
		}

		&.obstacle4 {
			top: 100px;
			left: 450px;
			height: 150px;
		}
	}

	.fly {
		background: url('../images/fly.png') center center /contain no-repeat;
		position: absolute;
		transition-property: transform;
		z-index: 1;
	}

	.exit {
		content: "";
		width: 5px;
		height: 100px;
		position: absolute;
		top: 130px;
		right: -5px;
		background-color: white;
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		transform: translateX(-50%) scale(0.5);
		transform-origin: top;
		left: 50%;
	}
}

.controls-and-extra-info {
	margin: 25px 0;
	text-align: center;

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		margin: 10px auto 15px;
		text-align: center;
	}
}

button {
	font-size: 15px;
	font-weight: 500;
	border-radius: 5px;
	cursor: pointer;

	&:focus {
		outline: 0;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		min-width: 80px;
		height: 50px;
	}
}

.controls {
	margin: 15px 0;

	& > div {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			display: block;
		}
	}
}

.speed-controls {
	p {
		margin: 5px;
		font-weight: 600;

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			margin-top: 0;
		}
	}

	.speed-value {
		font-weight: normal;
	}

	button {
		background-color: #ddd;
		border: 1px solid darken(#ddd, 10);
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		margin-bottom: 15px;
	}
}

.play-controls {
	button {
		color: white;
		margin-left: 10px;

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			margin-left: 0;
		}
	}
	.pause {
		background-color: #ff6a00;
		border: 1px solid darken(#ff6a00, 10);
		width: 80px;

		&.paused {
			background-color: #2e9c2e;
			border: 1px solid darken(#2e9c2e, 10);
		}

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			width: auto;
		}
	}

	.start-stop {
		background-color: #2e9c2e;
			border: 1px solid darken(#2e9c2e, 10);
		width: 80px;

		&.started {
			background-color: #c72a2a;
			border: 1px solid darken(#c72a2a, 10);
		}
	}

	.replay {
		background-color: #4f97ff;
		border: 1px solid darken(#4f97ff, 10);

		&.hidden {
			display: none;
		}
	}
}

.extra-info {
	.fittest-ever-text {
		font-weight: 600;
	}
}

.best-fitness {
	display: inline-block;
	animation: best-fitness .5s ease-in;
	padding: 0 7px;
}

.generation-table-wrapper {
	height: calc(100vh - 534px);
	max-width: 95%;
	overflow: scroll;

	table {
		width: 100%;
		border-collapse: collapse;

		&,
		th,
		td {
			border: 1px solid black;
		}

		th,
		td {
			padding: 10px;

			&:last-child {
				text-align: left;
				padding-left: 25px;

				@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
					padding-left: 15px;
				}
			}

			@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
				padding: 5px;
			}
		}

		th {
			background-color: #777;
			color: white;
			font-weight: 600;
		}

		td {
			text-align: center;
			font-size: 15px;
		}

		strong {
			font-weight: 700;
		}
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		height: calc(100vh - 404px);
		margin: 0 auto;
	}
}

@keyframes training {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}
}

@keyframes ready {
	0% {
		transform: translate(-50%, -50%) scale(0, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(4, 4);
		opacity: 0;
	}
}

@keyframes best-fitness {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.5);
	}
}