@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$CONTAINER_WIDTH: 600px;
$BODY_PADDING: 20px;

* {
	box-sizing: border-box;
}

body, html {
	overflow-x: hidden;
}

body, button {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: $BODY_PADDING;

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		padding: 0;
	}
}

.container {
	width: $CONTAINER_WIDTH;
	margin: 0 auto;
}

.responsive-container {
	max-width: 100%;
}

.maze-wrapper {
	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		position: relative;
		width: 100%;
		height: 175px;
		margin-top: 20px;
	}
}

.maze {
	border: 5px solid black;
	height: 350px;
	position: relative;

	.obstacle {
		position: absolute;
		width: 30px;
		height: 125px;
		background-color: #aaa;

		&.obstacle1 {
			top: 50px;
			left: 70px;
			height: 50px;
		}
		&.obstacle1a {
			top: 150px;
			left: 70px;
			height: 150px;
		}

		&.obstacle2 {
			top: 80px;
			left: 200px;
			height: 150px;
		}
		&.obstacle2a {
			top: 280px;
			left: 200px;
			height: 50px;
		}

		&.obstacle3 {
			top: 40px;
			left: 330px;
		}
		&.obstacle3a {
			top: 210px;
			left: 330px;
			height: 100px;
		}

		&.obstacle4 {
			top: 100px;
			left: 450px;
			height: 150px;
		}
	}

	.fly {
		background: url('../images/fly.png') center center /contain no-repeat;
		position: absolute;
		transition-property: transform;
		z-index: 1;
	}

	.exit {
		content: "";
		width: 5px;
		height: 100px;
		position: absolute;
		top: 130px;
		right: -5px;
		background-color: white;
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		transform: translateX(-50%) scale(0.5);
		transform-origin: top;
		left: 50%;
	}
}

.controls-and-extra-info {
	margin: 25px auto;
	text-align: center;

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		margin: 10px auto 15px;
	}
}

.controls,
.extra-info {
	display: inline-block;
	margin: 0 auto;

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		display: block;
	}
}

.controls {
	text-align: center;

	p {
		margin: 5px;
		font-weight: 600;

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			margin-top: 0;
		}
	}

	button {
		font-size: 15px;
		font-weight: 500;
		background-color: #ddd;
		border: 1px solid #b4b4b4;
		border-radius: 5px;

		@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
			min-width: 80px;
			height: 50px;
		}
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		margin-bottom: 10px;
	}
}

.extra-info {
	margin-left: 10px;

	.fittest-ever-text {
		font-weight: 600;
	}
}

.best-fitness {
	display: inline-block;
	animation: best-fitness .5s ease-in;
	padding: 0 7px;
}

.generation-table {
	height: calc(100vh - 500px);
	max-width: 95%;
	overflow: scroll;

	table {
		width: 100%;
		border-collapse: collapse;

		&,
		th,
		td {
			border: 1px solid black;
		}

		th,
		td {
			padding: 10px;

			&:last-child {
				text-align: left;
				padding-left: 25px;

				@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
					padding-left: 15px;
				}
			}

			@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
				padding: 5px;
			}
		}

		th {
			background-color: #777;
			color: white;
			font-weight: 600;
		}

		td {
			text-align: center;
			font-size: 15px;
		}

		strong {
			font-weight: 700;
		}
	}

	@media screen and (max-width: $CONTAINER_WIDTH + $BODY_PADDING) {
		height: calc(100vh - 330px);
	}
}

@keyframes best-fitness {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}