@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
	box-sizing: border-box;
}

body, button {
	font-family: 'Open Sans', sans-serif;
}

body {
	padding: 10px;
}

.container {
	width: 600px;
	max-width: 90%;
}

.maze {
	border: 5px solid black;
	height: 350px;
	position: relative;

	.obstacle {
		position: absolute;
		width: 30px;
		height: 125px;
		background-color: #aaa;

		&.obstacle1 {
			top: 50px;
			left: 70px;
			height: 50px;
		}
		&.obstacle1a {
			top: 150px;
			left: 70px;
			height: 150px;
		}

		&.obstacle2 {
			top: 80px;
			left: 200px;
			height: 150px;
		}
		&.obstacle2a {
			top: 280px;
			left: 200px;
			height: 50px;
		}

		&.obstacle3 {
			top: 40px;
			left: 330px;
		}
		&.obstacle3a {
			top: 210px;
			left: 330px;
			height: 100px;
		}

		&.obstacle4 {
			top: 100px;
			left: 450px;
			height: 150px;
		}
	}

	.fly {
		background: url('../images/fly.png') center center /contain no-repeat;
		position: absolute;
		transition-property: transform;
		z-index: 1;
	}

	.exit {
		content: "";
		width: 5px;
		height: 100px;
		position: absolute;
		top: 130px;
		right: -5px;
		background-color: white;
	}
}

.controls-and-extra-info {
	margin: 25px 0;
}

.controls,
.extra-info {
	margin-left: 10px;
	display: inline-block;
}

.controls {
	text-align: center;

	p {
		margin: 5px;
	}

	button {
		font-size: 15px;
		font-weight: 500;
	}
}

.generation-table {
	height: calc(100vh - 500px);
	min-height: 200px;
	overflow: scroll;

	table {
		border-collapse: collapse;

		tr {
			&:nth-child(2n + 1) {
				background-color: rgb(165, 224, 195);
			}
		}

		&,
		th,
		td {
			border: 1px solid black;
		}

		th,
		td {
			padding: 10px;

			&:last-child {
				text-align: left;
				padding-left: 25px;
			}
		}

		th {
			background-color: #777;
			color: white;
			font-weight: 600;
		}

		td {
			text-align: center;
			font-size: 15px;
		}

		strong {
			font-weight: 700;
		}
	}
}